.result__item {
  display: flex;
  align-items: center;
  margin-bottom: 39px;
  background-color: #fbfbfb;
  height: 78px;
}

.result__item img {
  width: 60px;
  height: 60px;
  margin: 0 24px 0 32px;
}

.result__item__issue {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result__item__issue p {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.result__item__issue span {
  font-size: 14px;
  color: #74798c;
}

@media screen and (min-width: 1439px) {
  .result__item {
    height: 124px;
  }
}
