.graphic-session-duration {
  width: 258px;
  height: 263px;
  //background-color: red;
}

.custom-tooltip-line {
  width: 39px;
  height: 25px;
  background-color: white;
  font-size: 8px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*
.label-line {
  font-size: 8px;
  font-weight: 600;
  color: black;
}*/
