.panel {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 117px;
  height: 514px;
  margin-top: -1px;
  padding: 174px 0 0 0;
}

.panel img {
  width: 64px;
  height: 64px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.panel p {
  color: white;
  font-size: 12px;
  margin-top: 22px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

@media screen and (min-width: 1440px) {
  .panel {
    height: 697px;
    justify-content: center;
    padding: 236px 0 0 0;
  }

  .panel p {
    margin-top: 86px;
    margin: 120px 0 59px 0;
  }
}
