.graphic-daily-activity {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 230px;
  background-color: #fbfbfb;
}

.graphic-daily-activity h1 {
  font-size: 15px;
  margin: 0 0 10px 30px;
  width: 200px;
}

.custom__tooltip {
  background-color: red;
  width: 39px;
  height: 63px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 4px;
  font-size: 7px;
}

.custom__tooltip__label,
.custom__tooltip__intro {
  color: white;
}

.custom__legend {
  display: flex;
  align-items: center;
  color: #74798c;
  font-size: 14px;
  height: 60px;
}

.weight,
.calories {
  display: flex;
  align-items: center;
}

.fa-circle {
  font-size: 8px;
  margin-right: 10px;
}

.circle-poids {
  color: black;
}

.circle-calories {
  color: #e60000;
  margin-left: 32px;
}

@media screen and (min-width: 1440px) {
  .graphic-daily-activity {
    width: 835px;
    height: 320px;
  }
}
